html, body, #app, #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: transparent;
}

/* IMPORTANT: on ne force PAS une taille au canvas */
#game canvas {
  display: block;
}

#game, #game canvas {
  touch-action: none;
}
