html, body, #app, #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game canvas {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  background: transparent;
}

#app, #game, #game canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  margin-top: 0;
}

@media (max-width: 480px) {
  #app, #game, #game canvas {
    width: 100% !important;
    height: 100% !important;
    touch-action: none;
    margin-top: 0 !important;
  }
}