html, body, #app, #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: transparent;
}

/* IMPORTANT: on ne force PAS une taille au canvas */
#game canvas {
  display: block;
}

#game, #game canvas {
  touch-action: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;        /* empêche scroll page */
  overscroll-behavior: none; /* empêche pull-to-refresh */
  touch-action: none;      /* empêche gestures natifs */
}

#app, #game, #game canvas {
  width: 100%;
  height: 100%;
  touch-action: none;      /* double sécurité */
}
